.page_header {
	margin:0 auto;
	width: 50%;
}

.art_element {
	border: 20px groove #D59D2C;
	padding: 1em;
	margin: 20px;
}

#special_font {
	font-family: sans-serif;
}

a:link {
	color:blue;
}

a:visited {
	color:green;
}

a:hover {
	color:red;
}

a:active {
	color:yellow;
}

form {
	background-image: url(envelope2.png)
}

@media screen and (max-width: 690px){
  img {
    width: 80%;
  }
}